.button {
    width: 100%; 
	font-weight: bold;
	color: #111;
    border-radius: 0.5rem;
    height: 3rem;
    border: none;
    margin-top: 1rem;
    max-width: 300px;
}

.blocked {
	background: #888;
    cursor: not-allowed;
}

.actived {
	background: #ff7b00;
    
}

@media (min-width: 992px) {
    .button {
        margin-top: 0;
        width: 45%;
    }
}